
target/
*.lock
.idea/
.git/
*.iml
logs/
*.log
*.out
log
*.gz
*.db
log
data/
level.db/
sled.db/
#------ flutter--------
pubspec.lock
ios/
android/
build/
windows/
.gradle
.dart_tool
.packages
.lock
.metadata
/web
